# Addint type of files to not be pushed to github. Basically the ones created after compilation of libraries/code #
# Feel free to add more types if desired #

*.o
*.mod
*.optrpt
*.dyn
*pgopti*

# Other files #

nohup.out
compiler-testset/*OSLOs.fchk
compiler-testset/*.apost*

# Also the folder of the libraries, for problems of permission #

libxc-4.2.3

